@model EBook.Models.Category

<div class="container col-md-10 text-center mt-3">
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <tr>
                    <th colspan="2" class="h3 bg-light text-success">Book Info</th>
                </tr>
                <tr>
                    <th>No</th>
                    <td>@Model.Name</td>
                </tr>
                @foreach (var b in Model.Book)
                {
                    <tr>
                        <th>No.</th>
                        <td>@b.Name</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>