@model EBook.Models.Book


<form class="card p-3 bg-light" method="post" asp-controller="Book" asp-action="Add">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span class="text text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image"></label>
        <input class="form-control" asp-for="Image" />
        <span class="text text-danger" asp-validation-for="Image"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryID">Category</label>
        <select asp-for="CategoryID" class="form-control" asp-items="@(new SelectList(ViewBag.Category,"Id", "Name"))">
            <option>Select Category</option>
        </select>
        <span class="text text-danger" asp-validation-for="Image"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input class="form-control" asp-for="Price" />
        <span class="text text-danger" asp-validation-for="Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="AuthorId">AuThor</label>
        <select asp-for="AuthorId" class="form-control" asp-items="@(new SelectList(ViewBag.Author,"Id", "Name"))">
            <option>Select Author</option>
        </select>
        <span class="text text-danger" asp-validation-for="Image"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantity"></label>
        <input class="form-control" asp-for="Quantity" />
        <span class="text text-danger" asp-validation-for="Quantity"></span>
    </div>


    <div class="fomr-group">
        <input class="btn btn-primary" type="submit" value="Add" />
    </div>
</form>