@model ICollection<RequestCT>


<div class="container col-md-8 text-center mt-3">
    <a class="btn btn-info mb-3" asp-controller="StoreOwner" asp-action="RequestCT">Add Request</a>
<table class="table table-primary">
    @if(TempData["Message"]!=null){
        <tr>
            <th colspan="5" class="text text-success h6">@TempData["Message"]</th>
        </tr>
    }
    
    <tr>
        <th colspan="2" class="text text-success h2">Request List</th>
      
    </tr>
    <tr class="bg-light">
        <th>Category Name</th>
        <th>Status</th>
    </tr>
        @foreach (var rq in Model)
        {
                <tr>
                <td>
                    @rq.Name
                </td>

                <td>
                  @rq.IsApproved


                </td>
            </tr>
        }

</table>
</div>
